@if(productDetails){
<br />
<br />
<br />
<section>
  <div class="row align-items-center">
    <h1 class="text-center text-main my-2">Product Details</h1>

    @for (product of productDetails; track $index) {
    <div class="col-md-3">
      <div class="product-image-container">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let img of product.images">
            <ng-template carouselSlide>
              <img
                [src]="`${baseURI}/uploads/images/${img}`"
                class="w-100 rounded-3"
                [alt]="product.productName"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>

    <div class="col-md-9">
      <h2>{{ product.productName }}</h2>
      <p class="text-muted">{{ product.productDesc }}</p>
      <h3>{{ product.category.name }}</h3>

      <div class="d-flex align-items-center">
        <span class="text-success fw-bold">
          {{ (((product.price - product.discountPrice) / product.price) * 100).toFixed(0) }}% off
        </span>
      </div>

      <div class="d-flex align-items-center mt-2">
        <span class="h5 text-danger"> {{ product.price - product.discountPrice }} EGP </span>
        <span class="ms-2 text-muted text-decoration-line-through"> {{ product.price }} EGP </span>
      </div>
      <div class="mt-2">
        <span
          style="font-size: smaller"
          class="text-danger fw-bold"
          *ngIf="product.stock <= 5 && product.stock !== 0"
        >
          {{ product.stock }} items remainig in the stock
        </span>
        <span style="font-size: smaller" class="text-danger fw-bold" *ngIf="product.stock === 0">
          Out of stock
        </span>
      </div>
      <button (click)="addToCart(product._id)" class="btn-main w-100">Add to Cart</button>
    </div>
    }
  </div>
</section>

}
