<section>
  <h1 class="text-center text-main my-2">Forget password</h1>

  @if(step==1){

  <form
    [formGroup]="verifyEmail"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="verifyEmailSubmit()"
  >
    <div class="my-2">
      <label for="email">email</label>
      <input formControlName="email" type="email" class="form-control" id="email" />
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
  </form>

  }@else if(step==2){

  <form
    [formGroup]="verifyOtp"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="verifyOtpSubmit()"
  >
    <div class="my-2">
      <input
        formControlName="email"
        type="hidden"
        [(ngModel)]="email"
        class="form-control"
        id="email"
      />
    </div>
    <div class="my-2">
      <label for="otp">Verify Otp</label>
      <input formControlName="otp" type="text" class="form-control" id="otp" />
    </div>
    <button [disabled]="verifyOtp.invalid" class="btn-main">Verify Otp</button>
  </form>
  }@else if(step==3){

  <form
    [formGroup]="resetPassword"
    class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="resetPasswordSubmit()"
  >
    <div class="my-2">
      <input
        formControlName="email"
        type="hidden"
        [(ngModel)]="email"
        class="form-control"
        id="email"
      />
    </div>

    <div class="my-2">
      <label for="password">new password</label>
      <input formControlName="password" type="password" class="form-control" id="password" />
    </div>
    <button routerLink="/login" [disabled]="resetPassword.invalid" class="btn-main">
      Change password
    </button>
  </form>
  }
</section>
