<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <h1 class="h2 text-main">Register Now</h1>

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="my-2">
      <label for="name">Name</label>
      <input
        [ngClass]="{
          'is-valid':
            !registerForm.get('userName')?.errors && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.errors && registerForm.get('userName')?.touched
        }"
        formControlName="userName"
        id="name"
        type="text"
        class="form-control"
      />
      @if (registerForm.get("userName")?.errors &&
      (registerForm.get("userName")?.touched||registerForm.get("userName")?.dirty)) {
      <div class="alert alert-danger w-50">
        @if(registerForm.get("userName")?.getError("required")){

        <p class="m-0">Name is required</p>

        } @else if (registerForm.get("userName")?.getError("minlength")) {

        <p class="m-0">Name should be at least 3 chars</p>

        }@else if (registerForm.get("userName")?.getError("maxlength")) {

        <p class="m-0">Name should be at most 20 chars</p>
        }
      </div>
      }
    </div>

    <div class="my-2">
      <label for="email">Email</label>
      <input
        [ngClass]="{
          'is-valid':
            !registerForm.get('userName')?.errors && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.errors && registerForm.get('userName')?.touched
        }"
        formControlName="email"
        id="email"
        type="email"
        class="form-control"
      />

      @if (registerForm.get("email")?.errors &&
      (registerForm.get("email")?.touched||registerForm.get("email")?.dirty)) {

      <div class="w-50 alert alert-danger">
        @if (registerForm.get("email")?.getError("required")) {

        <p class="m-0">Email is required</p>
        }@else if (registerForm.get("email")?.getError("email")) {

        <p class="m-0">Email is In-valid</p>
        }
      </div>
      }
    </div>

    <div class="my-2">
      <label for="paswword">Paswword</label>
      <input
        [ngClass]="{
          'is-valid':
            !registerForm.get('userName')?.errors && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.errors && registerForm.get('userName')?.touched
        }"
        formControlName="password"
        id="paswword"
        type="password"
        class="form-control"
      />

      @if (registerForm.get("password")?.errors &&
      (registerForm.get("password")?.touched||registerForm.get("password")?.dirty)) {

      <div class="w-50 alert alert-danger">
        @if (registerForm.get("password")?.getError("required")) {

        <p class="m-0">password is required</p>
        }@else if (registerForm.get("password")?.getError("pattern")) {

        <p class="m-0">password is In-valid</p>
        }
      </div>
      }
    </div>

    <div class="my-2">
      <label for="confirmpassword">Confirm password</label>
      <input
        [ngClass]="{
          'is-valid':
            !registerForm.get('userName')?.errors && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.errors && registerForm.get('userName')?.touched
        }"
        formControlName="confirmPassword"
        id="confirmpassword"
        type="password"
        class="form-control"
      />

      @if(registerForm.getError("mismatch")&&
      (registerForm.get("confirmPassword")?.touched||registerForm.get("password")?.dirty)){
      <p class="alert alert-danger w-50 m-0">password confirmation is incorrect</p>
      }
    </div>

    <div class="my-2 d-flex py-3">
      <label class="d-block">Gender</label>

      <div class="mx-auto">
        <input type="radio" id="male" value="male" formControlName="gender" name="gender" />
        <label for="male">Male</label>
      </div>

      <div class="mx-auto">
        <input type="radio" id="female" value="female" formControlName="gender" name="gender" />
        <label for="female">Female</label>
      </div>
    </div>

    <div class="my-2">
      <label for="phone">Phone</label>
      <input
        [ngClass]="{
          'is-valid':
            !registerForm.get('userName')?.errors && registerForm.get('userName')?.touched,
          'is-invalid':
            registerForm.get('userName')?.errors && registerForm.get('userName')?.touched
        }"
        formControlName="phone"
        id="phone"
        type="tel"
        class="form-control"
      />

      @if (registerForm.get("phone")?.errors &&
      (registerForm.get("phone")?.touched||registerForm.get("phone")?.dirty)) {

      <div class="w-50 alert alert-danger">
        @if (registerForm.get("phone")?.getError("required")) {

        <p class="m-0">phone is required</p>
        }@else if (registerForm.get("phone")?.getError("pattern")) {

        <p class="m-0">phone is In-valid</p>
        }
      </div>
      }
    </div>

    <div class="my-2">
      <label for="DOB">Date Of Birth</label>
      <input formControlName="DOB" id="DOB" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn-main ms-auto d-block">
      Register @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if(msgError){
    <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>

    } @if(msgSuccess){
    <p>Registered successfully</p>
    }
  </form>
</section>
