<div class="container-fluid mt-5">
  <!-- Page Title -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold mt-2">Orders</h2>
  </div>

  <!-- Filters -->
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-4">
          <input
            [(ngModel)]="searchValue"
            type="text"
            class="form-control"
            placeholder="Search by full trackingNumber"
          />
        </div>
        <div class="col-md-3">
          <select class="form-select" (change)="orderStatus($event)">
            <option value="all">All Status</option>
            <option value="pending">Pending</option>
            <option value="preparing">Preparing</option>
            <option value="shipped">Shipped</option>
            <option value="delivered">Delivered</option>
            <option value="cancelled">Cancelled</option>
          </select>
        </div>
        <!-- <div class="col-md-3">
          <input type="date" class="form-control" />
        </div> -->
        <div class="col-md-2">
          <button class="btn btn-dark w-100">Filter</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Orders Table -->
  <div class="card shadow-sm">
    <div class="card-header bg-white">
      <h5 class="mb-0 fw-semibold">Recent Orders</h5>
    </div>

    <div class="card-body table-responsive">
      <table class="table table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>#</th>
            <th>Tracking ID</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Status</th>
            <th>Date</th>
            <th style="width: 150px">Actions</th>
            <th style="width: 100px">paymentMethod</th>
            <th style="width: 100px">pay Date</th>
            <th style="width: 100px">Cancelled</th>
            <th style="width: 100px">Delivered</th>
            <th style="width: 100px">deliver Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- Order 1 -->
          @for(order of ordersData | ordersearch : searchValue ; track order._id){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td># {{ order.trackingNumber }}</td>
            <td>{{ order.RecipientsName }}</td>
            <td class="text-success">{{ order.totalPrice }} EGP</td>
            <td>
              <span
                [ngClass]="{
                  'bg-warning rounded text-dark': order.status === 'pending',
                  'bg-info rounded text-dark': order.status === 'preparing',
                  'bg-light rounded text-dark': order.status === 'shipped',
                  'bg-success rounded text-white': order.isDelivered,
                  'bg-danger rounded text-white': order.isCancelled
                }"
                >{{ order.status }}</span
              >
            </td>
            <td>{{ order.createdAt | date : 'short' }}</td>

            <td class="d-flex">
              @if(order.status==="pending"){
              <button
                (click)="orderPreparing(order.trackingNumber)"
                class="btn btn-sm btn-primary me-1"
              >
                <i class="bi bi-eye-fill">preparing</i>
              </button>
              } @else if(order.status==="preparing"){

              <button
                (click)="orderShipped(order.trackingNumber)"
                class="btn btn-sm btn-warning me-1"
              >
                <i class="bi bi-pencil-fill">shipping</i>
              </button>

              } @else if(order.status==="shipped"){
              <button (click)="orderDelivered(order.trackingNumber)" class="btn btn-sm btn-danger">
                <i class="bi bi-trash-fill">delivered</i>
              </button>
              } @if(order.status!=="delivered"){
              <button
                (click)="adminCancelOrder(order.trackingNumber)"
                class="btn btn-sm btn-danger"
              >
                <i class="bi bi-trash-fill">Cancel</i>
              </button>

              }
            </td>
            <td class="text-center">{{ order.paymentMethod }}</td>
            <td class="text-center">{{ order.paidAt | date : 'short' }}</td>
            <td class="text-center">{{ order.isCancelled }}</td>
            <td class="text-center">{{ order.isDelivered }}</td>
            <td class="text-center">{{ order.deliveredAt | date : 'short' }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
